// font-family: 'Trebuchet MS';
// font-family: 'Exo 2', sans-serif;

.main {
    height: 100vh;
    background-image: url(../../img/bg.jpg);
}

.main__header {
    margin-top: 36px;
    margin-bottom: 24px;
}

.heiding {
    font-family: 'Exo 2', sans-serif;
    font-size: 36px;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 1px 1px #000000;
}

.card__row {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1199px) {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 320px 320px; 
        grid-template-rows: 1fr 1fr; 
        gap: 30px 30px;
        justify-content: center; 
        grid-template-areas: 
            ". ."
            ". .";        
    }

    @media (max-width: 899px) {
        grid-template-columns: 320px;
        grid-template-areas: 
            "."
            "."
            ".";        
    }
}

     

.card {
    width: 320px;
    height: 509px;
}

.card__inner-wrapper {
    position: relative;
    height: 480px;
    background-color: #fff;
    border: 4px solid #2ea8e6;
    border-radius: 10px;
    clip-path: polygon(14.7% 0, 100% 0, 100% 100%, 0 100%, 0 9.7%);
    
    &:hover {
        border: 4px solid #D91667;
        cursor: pointer;       
    }
}

.card__inner-wrapper::after {
    content: "";   
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 16px;
    right: 16px;
    border-radius: 50%;
    background-color: #1698D9;
}

.card__text {
    width: 211px;
    margin-left: 48px;
    margin-right: 61px;
}

.card-subtitle {
    margin-top: 21px;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    
}

.card-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.16;
    color: #000000;
    text-align: center;
}

.card__img {
    position: absolute;
    bottom: 0;
}

.card-taste {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    color: #000000;
}

.card-desc {
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.14;
}

.card-desc-circle {
    position: absolute;
    z-index: 9;
    bottom: 30px;
    right: 45px;
    text-align: center;
    font-size: 42px;
    line-height: 0.5;
    color: #FFFFFF;
}

.weight {
    margin-top: 8px;
    font-size: 21px;
    line-height: 1;
}

.text-p {
    margin-top: 14px;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.15;
    text-align: center;
    color: #FFFFFF;
}

.link {
    color: #1698D9;
    border-bottom: 1px dashed #1698D9;
}

.active {
    border: 4px solid #D91667; 
}

.active--end {
    border: 4px solid #B3B3B3;    
}




